name: eldix
apiVersion: v2
version: 2.8.0
appVersion: 3.7.0
description: Helm chart for eldix a KIM Client System by sberg it-systeme GmbH
home: https://www.sberg.net
keywords:
  - Telematik Infrastruktur
  - KIM
  - TI
maintainers:
  - name: sberg it-systeme GmbH
    url: https://github.com/sberg-net/helm/tree/main/charts
annotations:
  category: Infrastructure
  licenses: Apache-2.0
dependencies:
  - name: mariadb
    version: 20.2.4
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: mariadb.enabled
  - name: common
    version: 2.x.x
    repository: oci://registry-1.docker.io/bitnamicharts
    tags:
      - bitnami-common
